@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "kudryashev-d-contrast", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:focus-visible {
  outline: 0px;
}

.sticky-thc {
  position: sticky;
  top: 0;
  z-index: 99;
}

.nav-call {
  z-index: 100;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100%;
}

.each-slide-effect span {
  padding: 20px;
  /* font-size: 20px; */
  /* background: #efefef; */
  color: white;
  text-align: center;
}

.react-slideshow-container .default-nav:first-of-type {
  display: none;
}

.react-slideshow-container .default-nav:last-of-type {
  display: none;
}
